@font-face {
    font-family: "iconfont"; /* Project id 4888014 */
    src: url('//at.alicdn.com/t/c/font_4888014_qdfhfju8z.woff2?t=1744271371058') format('woff2'),
         url('//at.alicdn.com/t/c/font_4888014_qdfhfju8z.woff?t=1744271371058') format('woff'),
         url('//at.alicdn.com/t/c/font_4888014_qdfhfju8z.ttf?t=1744271371058') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-align-center:before {
    content: "\e783";
  }
  
  .icon-align-top:before {
    content: "\e784";
  }
  
  .icon-align-justify:before {
    content: "\e785";
  }
  
  .icon-align-bottom:before {
    content: "\e786";
  }
  
  .icon-align-vertically:before {
    content: "\e787";
  }
  
  .icon-align-left:before {
    content: "\e788";
  }
  
  .icon-a-b:before {
    content: "\e789";
  }
  
  .icon-bring-forward:before {
    content: "\e78a";
  }
  
  .icon-bold:before {
    content: "\e78b";
  }
  
  .icon-code-view:before {
    content: "\e78c";
  }
  
  .icon-align-right:before {
    content: "\e78d";
  }
  
  .icon-asterisk:before {
    content: "\e78e";
  }
  
  .icon-attachment-2:before {
    content: "\e78f";
  }
  
  .icon-delete-column:before {
    content: "\e790";
  }
  
  .icon-font-size-2:before {
    content: "\e791";
  }
  
  .icon-emphasis:before {
    content: "\e792";
  }
  
  .icon-delete-row:before {
    content: "\e793";
  }
  
  .icon-double-quotes-r:before {
    content: "\e794";
  }
  
  .icon-english-input:before {
    content: "\e795";
  }
  
  .icon-font-color:before {
    content: "\e796";
  }
  
  .icon-emphasis-cn:before {
    content: "\e797";
  }
  
  .icon-flow-chart:before {
    content: "\e798";
  }
  
  .icon-format-clear:before {
    content: "\e799";
  }
  
  .icon-h-1:before {
    content: "\e79a";
  }
  
  .icon-functions:before {
    content: "\e79b";
  }
  
  .icon-font-size:before {
    content: "\e79c";
  }
  
  .icon-h-2:before {
    content: "\e79d";
  }
  
  .icon-h-4:before {
    content: "\e79e";
  }
  
  .icon-h-3:before {
    content: "\e79f";
  }
  
  .icon-hashtag:before {
    content: "\e7a0";
  }
  
  .icon-indent-increase:before {
    content: "\e7a1";
  }
  
  .icon-h-6:before {
    content: "\e7a2";
  }
  
  .icon-heading:before {
    content: "\e7a3";
  }
  
  .icon-double-quotes-l:before {
    content: "\e7a4";
  }
  
  .icon-insert-column-left:before {
    content: "\e7a5";
  }
  
  .icon-insert-column-right:before {
    content: "\e7a6";
  }
  
  .icon-input-cursor-move:before {
    content: "\e7a7";
  }
  
  .icon-italic:before {
    content: "\e7a8";
  }
  
  .icon-insert-row-bottom:before {
    content: "\e7a9";
  }
  
  .icon-indent-decrease:before {
    content: "\e7aa";
  }
  
  .icon-line-height:before {
    content: "\e7ab";
  }
  
  .icon-bring-to-front:before {
    content: "\e7ac";
  }
  
  .icon-link-unlink:before {
    content: "\e7ad";
  }
  
  .icon-list-check-2:before {
    content: "\e7ae";
  }
  
  .icon-insert-row-top:before {
    content: "\e7af";
  }
  
  .icon-list-ordered:before {
    content: "\e7b0";
  }
  
  .icon-list-check:before {
    content: "\e7b1";
  }
  
  .icon-list-unordered:before {
    content: "\e7b2";
  }
  
  .icon-link:before {
    content: "\e7b3";
  }
  
  .icon-number-2:before {
    content: "\e7b4";
  }
  
  .icon-merge-cells-vertical:before {
    content: "\e7b5";
  }
  
  .icon-link-m:before {
    content: "\e7b6";
  }
  
  .icon-h-5:before {
    content: "\e7b7";
  }
  
  .icon-number-6:before {
    content: "\e7b8";
  }
  
  .icon-link-unlink-m:before {
    content: "\e7b9";
  }
  
  .icon-number-3:before {
    content: "\e7ba";
  }
  
  .icon-number-7:before {
    content: "\e7bb";
  }
  
  .icon-number-5:before {
    content: "\e7bc";
  }
  
  .icon-node-tree:before {
    content: "\e7bd";
  }
  
  .icon-number-0:before {
    content: "\e7be";
  }
  
  .icon-merge-cells-horizontal:before {
    content: "\e7bf";
  }
  
  .icon-number-9:before {
    content: "\e7c0";
  }
  
  .icon-omega:before {
    content: "\e7c1";
  }
  
  .icon-paragraph:before {
    content: "\e7c2";
  }
  
  .icon-number-1:before {
    content: "\e7c3";
  }
  
  .icon-number-8:before {
    content: "\e7c4";
  }
  
  .icon-organization-chart:before {
    content: "\e7c5";
  }
  
  .icon-question-mark:before {
    content: "\e7c6";
  }
  
  .icon-pinyin-input:before {
    content: "\e7c7";
  }
  
  .icon-page-separator:before {
    content: "\e7c8";
  }
  
  .icon-rounded-corner:before {
    content: "\e7c9";
  }
  
  .icon-sort-asc:before {
    content: "\e7ca";
  }
  
  .icon-send-to-back:before {
    content: "\e7cb";
  }
  
  .icon-separator:before {
    content: "\e7cc";
  }
  
  .icon-sort-desc:before {
    content: "\e7cd";
  }
  
  .icon-split-cells-vertical:before {
    content: "\e7ce";
  }
  
  .icon-strikethrough-2:before {
    content: "\e7cf";
  }
  
  .icon-subscript:before {
    content: "\e7d0";
  }
  
  .icon-send-backward:before {
    content: "\e7d1";
  }
  
  .icon-single-quotes-l:before {
    content: "\e7d2";
  }
  
  .icon-superscript-2:before {
    content: "\e7d3";
  }
  
  .icon-table-2:before {
    content: "\e7d4";
  }
  
  .icon-space:before {
    content: "\e7d5";
  }
  
  .icon-translate-2:before {
    content: "\e7d6";
  }
  
  .icon-subscript-2:before {
    content: "\e7d7";
  }
  
  .icon-text-direction-r:before {
    content: "\e7d8";
  }
  
  .icon-text-direction-l:before {
    content: "\e7d9";
  }
  
  .icon-single-quotes-r:before {
    content: "\e7da";
  }
  
  .icon-text-spacing:before {
    content: "\e7db";
  }
  
  .icon-text:before {
    content: "\e7dc";
  }
  
  .icon-superscript:before {
    content: "\e7dd";
  }
  
  .icon-split-cells-horizontal:before {
    content: "\e7de";
  }
  
  .icon-wubi-input:before {
    content: "\e7df";
  }
  
  .icon-translate:before {
    content: "\e7e0";
  }
  
  .icon-strikethrough:before {
    content: "\e7e1";
  }
  
  .icon-underline:before {
    content: "\e7e2";
  }
  
  .icon-text-wrap:before {
    content: "\e7e3";
  }
  